
<app-header>

</app-header>

<div class="wrapper">
    <div class="content-wrapper">

        <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <h2 class="card-title">Listes des Administrateurs de la plateforme</h2>
                            </div>
                            <div style="text-align: right;" class="col-lg-6">
                                <a routerLink="/users/add" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Ajouter un administrateur</a>
                            </div>        
                        </div>
                    </div><!-- /.container-fluid -->
        </section>
        
        <section class="content">
        
                    <!-- Default box -->
                    <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <input (keyup)="searchUsers()" id="searchBar" type="text" class="form-control" placeholder="Rechercher un administrateur" />        
                            </div>

                            <div style="text-align: end;" class="col-lg-6">
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                    <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <div class="card-body p-0">
        
                        <div class="row d-flex align-items-stretch">

                            <div *ngFor="let administrateur of filteredadministrateurs ;" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                <div style="width: -webkit-fill-available;" class="card bg-light">
                                  <div class="card-header text-muted border-bottom-0">
                                    Administrateur
                                  </div>
                                  <div class="card-body pt-0">
                                    <div class="row">
                                      <div class="col-7">
                                        <h2 class="lead"><b>{{ administrateur.prenom }} {{ administrateur.nom }}</b></h2>
                                        <p class="text-muted text-sm"><b>Role: </b>  
                                            <div *ngIf="administrateur.role!.includes('MUN')">
                                                <p class="text-muted text-sm"><b>Role: </b>
                                                    Administrateur municipalité
                                                </p>
                                            </div>
                                            <div *ngIf="administrateur.role!.includes('GO')">
                                                
                                                <p class="text-muted text-sm"><b>Role: </b>
                                                    Administrateur gouvernrat
                                                </p>
                                            </div>
                                            <div *ngIf="administrateur.role!.includes('SUPER')">  
                                                <p class="text-muted text-sm"><b>Role: </b>
                                                    Administrateur ministere
                                                </p>
                                            </div>
                                            &nbsp;                                              
                                        
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: <br>{{ administrateur.email }}</li>
                                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 216 {{ administrateur.telephone }}</li>
                                        </ul>
                                      </div>
                                      <div class="col-5 text-center">
                                        <img style="object-fit: cover;height: 128px;width: 128px;" src="assets/img/admin.jpg" alt="" class="img-circle img-fluid">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card-footer">
                                    <div class="text-right">
                                     
                                      <button (click)="destroy(administrateur)" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i> Supprimer
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>



                        </div>

                    </div>
                </div>
        </section>
    </div>
</div>



<div class="modal fade" id="detailAdminModal" tabindex="-1" role="dialog" aria-labelledby="detailAdminModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Details administrateur</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fa fa-info-circle"></i>
                  Details
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <div class="d-flex align-items-stretch">
                    <div style="width: 60%;" class="card bg-light">
                      <div class="card-header text-muted border-bottom-0">
                        Administrateur
                      </div>
                      <div class="card-body pt-0">
                        <div class="row">
                          <div class="col-7">
                            <h2 class="lead"><b>{{ detailAdministrateur.prenom+" "+detailAdministrateur.nom }}</b></h2>
                            <p class="text-muted text-sm"><b>About: </b> Administrateur {{ detailAdministrateur.role }} </p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{ detailAdministrateur.email }}</li>
                              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone : + 216 - {{ detailAdministrateur.telephone }}</li>
                            </ul>
                          </div>
                          <div class="col-5 text-center">
                            <img style="object-fit: cover;height: 100px;width: 100px;" src="assets/img/admin.jpg" alt="" class="img-circle img-fluid">
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">

                      </div>
                    </div>
                  </div>

              </div>
              <!-- /.card-body -->
            </div>






          </div>
          <div class="modal-footer">
            
        </div>
        </div>
      </div>
  </div>

<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
