
<app-header>

</app-header>

<div class="wrapper">
    <div class="content-wrapper">

        <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <h2 class="card-title">Listes des Administrateurs de la plateforme</h2>
                            </div>
                            <div style="text-align: right;" class="col-lg-6">
                                <a routerLink="/users/add" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Ajouter un administrateur</a>
                            </div>        
                        </div>
                    </div><!-- /.container-fluid -->
        </section>
        
        <section class="content">
        
                    <!-- Default box -->
                    <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <input (keyup)="searchUsers()" id="searchBar" type="text" class="form-control" placeholder="Rechercher un administrateur" />        
                            </div>

                            <div style="text-align: end;" class="col-lg-6">
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                    <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <div class="card-body p-0">
        
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 20%">
                                        Nom et Prenom
                                    </th>
                                    <th style="width: 30%">
                                        Nom d'utilisateur
                                    </th>
                                    <th>
                                        Adresse mail
                                    </th>
                                    <th style="width: 8%" class="text-center">
                                        Telephone
                                    </th>
                                    <th style="width: 8%" class="text-center">
                                        Role
                                    </th>
                                    <th style="width: 20%">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let administrateur of filteredadministrateurs ;">
                                    <td>
                                        {{ administrateur.prenom }} {{ administrateur.nom }}
                                    </td>
                                    <td>
                                        {{ administrateur.username }}
                                    </td>
                                    <td>
                                        {{ administrateur.email }}
                                    </td>
                                    <td>
                                        {{ administrateur.telephone }}
                                    </td>
                                    <td>
                                        {{ administrateur.role }}
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-sm" href="#">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Modifier
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
        
        </section>

    </div>
</div>

<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
