<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Ajouter un membre</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add membre</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>


  <section class="content">
    <form name="createForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="createForm">
    <input hidden type="text" id="id" name="id" formControlName="id" />   
    <div style="justify-content: center;" class="row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Informations personnelles</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="inputName">Nom du membre</label>
                        <input type="text" id="inputName" class="form-control" formControlName="nom" placeholder="Nom">
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="inputName">Prenom du membre</label>
                        <input type="text" id="inputName" class="form-control" formControlName="prenom" placeholder="Prenom">
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="inputName">Nom de pere du membre</label>
                        <input type="text" id="inputName" class="form-control" formControlName="nom_pere" placeholder="Nom du pere">
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="inputName">Carte d'identité</label>
                        <input type="text" id="inputName" class="form-control" formControlName="CIN" placeholder="CIN">
                      </div>
                </div>


                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="inputName">Sexe</label>
                        <select id="inputStatus" class="form-control custom-select" formControlName="sexe">
                          <option value="Homme">Homme</option>
                          <option value="Femme">Femme</option>
                        </select>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="inputName">Numéro de portable</label>
                        <input type="text" id="inputName" class="form-control" formControlName="portable" placeholder="Numero">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <label for="inputName">Municipalité</label>
                        <select id="inputStatus" class="form-control custom-select" formControlName="municipalite">
                            <option *ngFor="let municipalite of municipalites;" value="{{ municipalite._id }}">{{ municipalite.Nom }}</option>
                          </select>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                  <input type="submit" value="Create new Porject" class="btn btn-success float-right">
                </div>
              </div>



          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>


    </div>

    </form>

  </section>